alex.exe
input.txt
Main.exe
Main.hi
Main.o
Tokens.hi
Tokens.hs
Tokens.o
Grammar.hi
Grammar.hs
Grammar.o
happy.exe
Utilities.hi
Utilities.o
ObjectLists.hi
ObjectLists.o
PredicateLists.hi
PredicateLists.o
Bases.hi
Bases.o
Prefixes.hi
Prefixes.o
Rule.hi
Rule.o
SelectAttributes.hi
SelectAttributes.o
in2.txt
fooT.ttl